*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body{
	/*overflow-x: hidden;*/
}

nav > img {
	width: 90%;
	padding-left: 10%;
	padding-top: 10%;
	margin-bottom: 10%;
}

.first{
	height: 130vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgb(230,230,230),rgb(245,245,245));
		overflow-x: hidden;
}

.border1{
	height: 95%;
	width: 95%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box1{
	height: 90%;
	width: 90%;
	background-image: url(../images/bar.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
}

.box1 h1 {
	color: rgb(235,235,235);	
	width: 85%;
	font-family: 'Open Sans', sans-serif;
	font-size: 128px;
	text-align: center;
	margin-top: 7%;
}

.box1 img {
	height: 70vh;
	position: absolute;
	top: 100%;
	margin-left: auto;
	margin-right: auto;
}

.main-header {
  background: rgb(230,230,230);
  padding: 0 20px;
  text-align: center;
  color: white;
  text-shadow: #222 2px 3px 4px;
  position: relative;
  width: 100%;
  height: 150px;
  left: 0;
  transition: all 0.3s ease;
  /*border: 1px solid black;*/
}

#row1{
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 3%;
	margin-right: 1%;
}

#row1 a {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 30%;
  color: rgb(245,245,245);
  font-size: 20px;
  text-decoration: none;
  outline: none;
}

#logo {
	height: 100%;
}


#logo img{
	height: 150px;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 999;

}
.main-nav a {
  display: block;
  background: linear-gradient(#3e3e3e, #383838);
  color: white;
  padding: 15px;
  text-decoration: none;
}
.main-nav a:hover, .main-nav a:focus {
  background: linear-gradient(#484848, #383838);
  text-decoration: none;
  color: white;
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 25%;
}

#main-nav:target + .page-wrap {
  width: 100%;
}
#main-nav:target + .page-wrap .open-menu {
  display: none;
}
#main-nav:target + .page-wrap .close-menu {
  display: block;
}
#main-nav:target + .page-wrap .main-header {
  width: 75%;
  left: 25%;
}

.second{
	background-color: rgb(245,245,245);
	height: 70vh;
	width: 100vw;
	overflow-x: hidden;
}

#una {
	display: flex;
	justify-content: flex-end;
	top: 33vh;
}

#una p {
	font-family: 'Old Standard TT', serif;
	font-size: 50px;
}

#una u {
	text-decoration-color: #f07e26;
}


#dalawa {
	display: flex;
	justify-content: center;
	top: 31vh;
}

#dalawa p {
	font-family: 'Cabin', sans-serif;
	font-size: 22px;
	color: rgb(170,170,170);
}

.third {
	background: white;
	height: 145vh;
	width: 100vw;
	overflow-x: hidden;
}

.head1{
	height: 20vh;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center; 
}

.head1 p {
	font-family: 'Cabin', sans-serif;
}

#tatlo {
	height: 110vh;
	width: 100%;
}

.apat {
	height: 55vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 2px solid rgb(240,126,38,0);
	transition: border-color 0.3s linear;
}


.wahid img {
	height: 55%;
}

.apat:hover {
	border-color: rgb(240,126,38,1);
}

.ithnayn img {
	height: 60%;
} 

.thalata img {
	height: 60%;
}

.arbaa img {
	height: 70%;
}

.khamsa img {
	height: 70%;
}

.sita img {
	height: 70%;
}

.modal-title, .modal-body, .modal-footer > button {
	font-family: sans-serif;
}

.fourth {
	height: 80vh;
	width: 100vw;
	background-image: url(../images/resp.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
}

.lima {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.lima h1{
	font-size: 50px;
	font-family: 'Old Standard TT', sans-serif;
	margin-bottom: 5%;
}

.lima > .input-group {
	width: 70%;
	height: 10%;
}

#emailad {
	font-family: 'Work Sans', sans-serif;
}

.fifth{
	height: 40vh;
	width: 100vw;
	background:white;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.saba{
	height: 40vh;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	text-align: left;
	position: relative;
}

.saba > h4 {
	text-decoration: underline;
	font-family: 'Raleway', sans-serif;
	text-decoration-color: rgb(240,126,38);
	text-transform: uppercase;
	font-weight: bolder;
}

.saba > p {
	font-size: 16px;
	font-family: 'Old Standard TT', serif;
}

#externallinks{
	align-items: center;
}

.saba > a {
	margin: 10px 0px;
	color: rgb(30,30,30);
	font-family: 'Old Standard TT', serif;
	outline: none;
}

.btn{
  color: #fff;
  cursor: pointer;
  max-width: 360px; 
  text-decoration: none;
  text-transform: uppercase;
}

.btn-2 {
    letter-spacing: 0px;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  color: grey;
}

.btn-2:after, .btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(150,150,150,0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: rgb(150,150,150);
  transition: width 350ms ease-in-out;
  width: 100%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

#information > p {
	font-size: 13px;
	font-family: 'Old Standard TT', serif;
	padding-left: 13%;	
}

#information > h4 {
	text-decoration: underline;
	font-family: 'Raleway', sans-serif;
	text-decoration-color: rgb(240,126,38);
	text-transform: uppercase;
	font-weight: bolder;
	padding-left: 13%;
}

#socialmedia {
	font-size: 40px;
	display: flex;
	justify-content: center;
}

#socialmedia > p > a {
	color: rgb(100,100,100);
	outline: none;
}

#socialmedia > p > img {
	height: 80px;
}

.fab {
	margin-left: 10px;
}

.fa-facebook-square {
	margin-left: 70px; 
}

#copy {
	font-size: 12px;
	position: absolute;
	bottom: 0%;
	right: 2%;
	color: rgb(170,170,170);
}


/*about page*/
.about {
	background: linear-gradient(rgb(230,230,230),rgb(245,245,245));
	height: 120vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

.box2{
	height: 90%;
	width: 90%;
	background-image: url(../images/barista.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.desc {
	background: linear-gradient(rgb(248,229,215),rgb(255,251,248));
	height: 70%;
	width: 60%;
	position: absolute;
	bottom: 1%;
	right: 2%;
	padding: 8%;
	border-radius: 10px;
}

.desc > h1 {
	font-family: 'IBM Plex Serif', serif;
	font-style: italic;
}

.desc > p {
	font-family: 'IBM Plex Serif', serif;
}

.desc > p > u {
	color: rgb(240,126,38);
}

#under {
	color: rgb(240,126,38);
}

.desc2 {
	height: 65vh;
	width: 100vw;
	background-image: url(../images/desc2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.desc2 > h1 {
	font-family: 'IBM Plex Serif', serif;
	font-style: italic;
	width: 45%;
	padding-left: 5%;
}

.desc2 > p {
	font-family: 'IBM Plex Serif', serif;
	width: 40%;
	padding-left: 5%;	
}

#title1 {
	font-size: 13px;
	padding-top: 5%;
}

/*customer page*/
.customer {
	background-image: url(../images/line.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 150vh;
	width: 100vw;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
}

.box3{
	width: 70%;
	height: 140vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 4%;
	overflow: hidden;
}

.box3 > h1 {
	margin-bottom: 4%;
}

.box3 > h1 > u {
	font-family: 'IBM Plex Serif', serif;
	font-weight: bolder;
	color: grey;
	font-style: italic;
	text-decoration-color: rgb(240,126,38);
}

.card {
	height: 100%;
	margin-bottom: 4%;
}

.card-body {
	width: 97%;
	height: 100%;
}

.media-left{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.media-left > img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.card1 {
	width: 95%;
	height: 28%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}

.card2 {
	width: 95%;
	height: 28%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}

.card3 {
	width: 95%;
	height: 28%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}

.media-body > h4 > u {
	font-family: 'IBM Plex Serif', serif;
	font-style: italic;
	text-decoration-color: rgb(240,126,38);
}

.media-body > p {
	font-family: 'IBM Plex Serif', serif;
}

/*coffee page*/
.coffee {
	background-color: rgb(230,230,230);
	overflow: hidden;
	height: 30vh;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.coffee > h1 {
	padding-top: 7%;
	text-align: center;
	width: 80%;
	font-size: 40px;
	font-family: 'Old Standard TT', serif;
}
.coffee > h1 > u {
	text-decoration-color: rgb(240,126,38);
	font-family: 'Old Standard TT', serif;
	font-style: italic;
}

.coffee1 {
	height: 66vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.coffee2 {
	background-image: url(../images/map.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 220vh;
	overflow: hidden;
	width: 100vw;
}

#card-container {
  width: 80%;
  height: 95%;
  z-index: 1;
  float: left;
}

.front {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgb(255,255,255);
}

.front > img {
  	width: 100%;
  	height: 80%;
  	margin-bottom: 5%;
}

.front > p {
	width: 90%;
	text-align: center;
}

#card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .8s linear;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#card:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front > p {
	font-family: 'Old Standard TT', serif;
	font-weight: bolder;
}

#card > .back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background: #F9F3E4;
}

#card > .back > h1 {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#card > .back > p {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#card > .back > h1 {
  font-size: 1.2em;
  padding-top: 15px;
  color: #DD899E;
}

#card > .back > p {
  font-size: 0.8em;
}

















/*tablet style*/
@media only screen and (min-width: 768px) and (max-width: 991.98px){

	#yes{
		display: initial;
		visibility: visible;
		clear: none;
	}

	.first{
	height: 80vh;
}

	.border1{
	height: 95%;
	width: 95%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

	.no{
		display: none;
		visibility: hidden;
		clear: both;
	}

	.box1 h1 {
	font-size: 89px;
}
	
	.box1 img {
	height: 40vh;
	top: 62%;
}

.second{
	height: 30vh;
}

#una {
	top: 13vh;
	left: 5vw;
}

#una p {
	font-size: 30px;
}

#dalawa {
	display: flex;
	justify-content: flex-end;
	top: 11vh;
}

#dalawa p {
	width: 90%;
	font-size: 13px;
	text-align: left;
}

.head1{
	height: 10vh; 
}

.head1 p {
	font-family: 'Cabin', sans-serif;
}

.wahid img {
	height: 25%;
}

.ithnayn img {
	height: 40%;
} 

.thalata img {
	height: 40%;
}

.arbaa img {
	height: 40%;
}

.khamsa img {
	height: 50%;
}

.sita img {
	height: 40%;
}

.third {
	height: 125vh;
}

.apat {
	position: absolute;
	left: -8%;
	margin-bottom: 10px;	
}

.fourth {
	height: 40vh;
}

.lima > .input-group {
	height: 10%;
}

.fifth{
	height: 40vh;
	width: 100vw;
	background:white;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.saba{
	height: 40vh;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	text-align: left;
	position: relative;
}

.saba > h4 {
	text-decoration: underline;
	font-family: 'Raleway', sans-serif;
	text-decoration-color: rgb(240,126,38);
	text-transform: uppercase;
	font-weight: bolder;
}

.saba > p {
	font-size: 13px;
	font-family: 'Old Standard TT', serif;
}

#externallinks{
	align-items: center;
}

.saba > a {
	margin: 10px 0px;
	color: rgb(30,30,30);
	font-family: 'Old Standard TT', serif;
}

.btn{
  color: #fff;
  cursor: pointer;
  max-width: 360px; 
  text-decoration: none;
  text-transform: uppercase;
}

.btn-2 {
    letter-spacing: 0px;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  color: grey;
}

.btn-2:after, .btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(150,150,150,0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: rgb(150,150,150);
  transition: width 350ms ease-in-out;
  width: 100%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

#information > p {
	font-size: 11px;
	font-family: 'Old Standard TT', serif;
	padding-left: 13%;	
}

#socialmedia {
	font-size: 30px;
	display: flex;
	justify-content: center;
}

#socialmedia > p > img {
	height: 80px;
}

.fab {
	margin-left: 10px;
}

.fa-facebook-square {
	margin-left: 10px; 
}

#copy {
	font-size: 12px;
	position: relative;
    bottom: 1vh;
    left: 5vw;
}

.fifth{
	height: 32vh;
	overflow-y: hidden;
}

/*about page*/
.about {
	height: 85vh;
}

.desc2 {
	height: 50vh;
	width: 100vw;
	background-image: url(../images/desc2.png);
	background-size: contain;
}

/*customer page*/
.card1 {
	width: 95%;
	height: 22%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}

.card2 {
	width: 95%;
	height: 22%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}

.card3 {
	width: 95%;
	height: 22%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}

.box3 > h1 {
	margin-bottom: 8%;
	font-size: 23px;
}

.customer {
	height: 80vh;
}

.box3{
	height: 76vh;
	width: 100%;
	justify-content: flex-start;
}

.media-left > img {
	width: 80px;
	height: 80px;
}

.media-body > h4 > u {
	font-family: 'IBM Plex Serif', serif;
	font-style: italic;
	text-decoration-color: rgb(240,126,38);
	font-size: 20px;
}

.media-body > p {
	font-family: 'IBM Plex Serif', serif;
	font-size: 10px;
}
.media-body > p > button {
	font-size: 10px;
}

/*coffee page*/
.coffee {
	height: 20vh;
}
.coffee2 {
	height: 260vh;
}

#card > .back > h1 {
  font-size: 1.2em;
  padding-top: 15px;
  color: #DD899E;
}

#card > .back > p {
  font-size: 0.8em;
}

.coffee1 {
	height: 50vh;
}

.coffee > h1 {
	padding-top: 7%;
	width: 90%;
	font-size: 47px;
}

}






/*mobile phone style*/
@media only screen and (max-width: 575.98px){
	.no{
		display: none;
		visibility: hidden;
		clear: both;
	}

	#logo img{
		margin-top: 25%;
		height: 50%;
		z-index:999; 
}

	#row1{
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 0%;
}

	.box1 h1 {
	width: 85%;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	text-align: center;
	margin-top: 7%;
}

.box1 img {
	height: 25vh;
	top: 75%;
}

.first{
	height: 70vh;
}

.second{
	height: 59vh;
}

#una {
	top: 10vh;
	justify-content: flex-start;
}

#una p {
	font-family: 'Old Standard TT', serif;
	font-size: 24px;
}

#dalawa {
	display: flex;
	justify-content: flex-end;
	top: 10vh;
}

#dalawa p {
	font-family: 'Cabin', sans-serif;
	width: 80%;
	font-size: 15px;
	text-align: right;
}

.apat {
	position: absolute;
	left: -8%;
}

.third {
	height: 355vh;
}

#emailad {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
}

.lima > .input-group {
	width: 95%;
}

#information {
	display: flex;
	align-items: center;
	flex-direction: column;
}
#information > p {
	padding-left: 0%;	
}

#information > h4 {
	padding-left: 0%;
}

#main-nav:target {
  width: 30%;
}

#main-nav:target + .page-wrap .main-header {
  width: 70%;
  left: 30%;
}

.wahid img {
	height: 40%;
}

.fifth{
	height: 90vh;
}

/*about page*/
.about {
	height: 115vh;
}

.desc {
	background: linear-gradient(rgb(248,229,215),rgb(255,251,248));
	height: 95%;
	width: 95%;
	border-radius: 10px;
}

.desc > h1 {
	font-family: 'IBM Plex Serif', serif;
	font-style: italic;
}

.desc > p {
	font-family: 'IBM Plex Serif', serif;
}

.desc > p > u {
	color: rgb(240,126,38);
}

.desc2 {
	height: 64vh;
	width: 100vw;
	background-image: url(../images/desc2.png);
	background-size: initial;
}

.desc2 > h1 {
	font-family: 'IBM Plex Serif', serif;
	font-style: italic;
	width: 95%;
	padding-left: 5%;
}

.desc2 > p {
	font-family: 'IBM Plex Serif', serif;
	width: 93%;
	padding-left: 5%;	
}

#title1 {
	font-size: 13px;
	padding-top: 5%;
}

/*customer page*/
.card1 {
	width: 95%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}

.card2 {
	width: 95%;
	height: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}

.card3 {
	width: 95%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}

.box3 > h1 {
	margin-bottom: 8%;
	font-size: 23px;
}

.customer {
	height: 125vh;
}

.box3{
	height: 120vh;
	width: 100%;
}

.media-left > img {
	width: 80px;
	height: 80px;
}

.media-body > h4 > u {
	font-family: 'IBM Plex Serif', serif;
	font-style: italic;
	text-decoration-color: rgb(240,126,38);
	font-size: 20px;
}

.media-body > p {
	font-family: 'IBM Plex Serif', serif;
	font-size: 10px;
}
.media-body > p > button {
	font-size: 10px;
}

/*coffee page*/
.coffee {
	height: 30vh;
}
.coffee2 {
	height: 600vh;
}

#card > .back > h1 {
  font-size: 1.2em;
  padding-top: 15px;
  color: #DD899E;
}

#card > .back > p {
  font-size: 0.7em;
}

.coffee1 {
	height: 64vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.coffee > h1 {
	padding-top: 5%;
	width: 90%;
	font-size: 35px;
}

}